
h1 {
  font-size: 3rem;
  font-family: 'Montserrat', cursive;
  color: white;
  line-height: 1.5;
  margin-left: 10px;
  font-weight: bold;
}

h3 {
    font-family: 'Ubuntu';
    font-weight: bold;
}

h2 {
  color: white;
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 30px;
}

p {
  color: #27496d;
}

#title {
  background-color: #27496d;
  color: white;


}

.col-sm {
  padding: 6%;
  text-align: center;
margin-top: 100px;
}

.laptop {
  width: 80%;
  height: 90%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.navbar-brand{
  font-family: 'Ubuntu', cursive;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-links{
  font-size: 1rem;
  font-family: "Ubuntu"
}

.logo{
  margin-right: 10px;
  background-color: black;
}

.container-fluid {
  padding: 3% 12%;
}

.btn-dark {
    font-family: 'Ubuntu', cursive;
    margin-top: 20px;
    margin-left: 30%;
    margin-bottom: 20px;
}

.icon {
  height: 50px;
  width: 50px;
  margin-bottom: 15px;
  color: #0c7b93;

}

.icon:hover{
  height: 70px;
  width: 70px;
}

#testimonials {
  background-color: #0c7b93;
  text-align: center;

}

.app {

  height: 30%;
  width: 40%;
  text-align: center;

}

.description {
  color: white;
  font-family: 'Ubuntu'
}

.carousel-item {
    padding: 7% 15%
}

.card-header {
  background-color: #27496d;
  color: #fff;
    font-family: 'Ubuntu'
}

#pricing{
  margin-top: 5%;
}

#btn1 {
  background-color: #0c7b93;
  color: #fff;
}

#btn2 {
  background-color: #0c7b93;
  color: #fff;
}

#btn1:hover {
  background-color: #fff;
  color: #27496d;
}

#btn2:hover {
  background-color: #fff;
  color: #27496d;
}
