
h1 {
  font-size: 3rem;
  font-family: 'Montserrat', cursive;
  color: white;
  line-height: 1.5;
  margin-left: 10px;
  font-weight: bold;
}

h3 {
    font-family: 'Ubuntu';
    font-weight: bold;
}

h2 {
  color: white;
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 30px;
}

p {
  color: #27496d;
}

#title {
  background-color: #27496d;
  color: white;


}

.col-sm {
  padding: 6%;
  text-align: center;
margin-top: 100px;
}

.laptop {
  width: 80%;
  height: 90%;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10%;
}

.navbar-brand{
  font-family: 'Ubuntu', cursive;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-links{
  font-size: 1rem;
  font-family: "Ubuntu"
}

.logo{
  margin-right: 10px;
  background-color: black;
}

.container-fluid {
  padding: 3% 12%;
}

.btn-register {
    font-family: 'Ubuntu', cursive;
    margin-top: 20px;
    margin-left: 40%;
    margin-bottom: 20px;
}

.icon {
  height: 50px;
  width: 50px;
  margin-bottom: 15px;
  color: #0c7b93;

}

.icon:hover{
  height: 70px;
  width: 70px;
}

#testimonials {
  background-color: #0c7b93;
  text-align: center;

}

.app {

  height: 30%;
  width: 40%;
  text-align: center;

}

.description {
  color: white;
  font-family: 'Ubuntu'
}

.carousel-item {
    padding: 7% 15%
}

.card-header {
  background-color: #27496d;
  color: #fff;
    font-family: 'Ubuntu'
}

#pricing{
  margin-top: 5%;
}

#btn1 {
  background-color: #0c7b93;
  color: #fff;
}

#btn2 {
  background-color: #0c7b93;
  color: #fff;
}

#btn1:hover {
  background-color: #fff;
  color: #27496d;
}

#btn2:hover {
  background-color: #fff;
  color: #27496d;
}

#cta {
  text-align: center;
    background-color: #0c7b93;
    margin-bottom: 30px;
}

#footer {
    background-color: #292b2c;
    text-align: center;
    color: #fff;


}

.desc {
  padding: 5% 20%;
  color: #fff;
  font-weight: bold;
}

.ts {
  padding: 2%;
  margin-top: 20px;
}

.btn-bot {
  margin: 3% 3% 3% 3%;
  padding-left: 15%;
  padding-right: 16%;
}

.customer{
  height: 20%;
  width: 30%;

}

.bottom-buttons{
  color: #292b2c;
}

.social {
  height: 30px;
  width: 30px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.social:hover {
  height: 35px;
  width: 35px;
}

.footer2 {
  margin: 0;
  color: #fff;

  margin-top: 10px;
}

.footer1{
  font-size: 20px;
    color: #fff;
    margin-top: 10px;
    font-weight: bold;
}

.header-info{
  margin-top: 10%;
}
